.pogoSlider-slide-element 
{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    text-align: center;
}
.container-text-slider 
{
    width: 100%;
    float: left;
}
.container-img-slider 
{
    width: 0%;
    float: left;
}
.pogoSlider-slide-element .decoration 
{
    float: left;
    width: 100px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}
.pogoSlider-slide-element h3 
{
    float: left;
    width: 100%;
    color: #fff !important;
    font-size: 50px;
    line-height: 55px;
    text-align: left;
    font-weight: bold;
}
.pogoSlider-slide-element .img-slider 
{
    display: flex;
    width: 100%;
    height: auto;
}
.pogoSlider-slide-element p 
{
    color: #fff !important;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    width: 20%;
    padding: 10px 0px 0px 0px;
    line-height: 35px;
    margin: 0px;
}
.pogoSlider-slide-element ul.banner-agileits 
{
    text-align: left;
    float: left;
    margin: 0px;
}
.pogoSlider-slide-element ul.banner-agileits li 
{
    list-style: none;
    display: inline-block;
    width: 100%;
}
.pogoSlider-slide-element ul.banner-agileits li a.link-w3l1 
{
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    padding: 0px 0px 0px 10px;
    background: #6BBB2A;
    display: inline-block;
    border: 2px solid #6BBB2A;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-image: url("../img/derecha.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.pogoSlider-slide-element ul.banner-agileits li a.link-w3l1:hover 
{
    background: none;
    color: white;
    background-image: url("../images/derecha.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.pogoSlider-slide-element ul.banner-agileits li a.link-w3l2 
{
    width: 220px;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: solid 2px white;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-image: url("../images/derecha.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.btn 
{
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*====================================medidas para pc medium================================*/
@media (max-width: 1199px)
{
	
}
@media (max-width: 991px)
{
	
}
@media (max-width: 767px)
{
	
}
@media (max-width: 650px)
{
	.pogoSlider
    {
        height: 250px !important;
    }
    .pogoSlider-slide-element ul.banner-agileits 
    {
        padding-top: 15px;
        text-align: left;
        float: left;
    }
    .pogoSlider-slide-element h3 
    {
        float: left;
        width: 100%;
        color: #fff !important;
        font-size: 20px;
        line-height: 25px;
        text-align: left;
        font-weight: bold;
    }
}